<section class="actors">
  <div class="actors__container">
    <a href="#" class="actors-link-title"
      >Popular Actors & Directors <span>></span></a
    >
    <ul class="actors-list">
      <li class="actors-list__item">
        <a href="#" class="actors-list__link"
          ><div class="actors-list__pic-thumb">
            <img
              srcset="
                ./images/Actors/SamantaBowen.webp    1x,
                ./images/Actors/SamantaBowen@2x.webp 2x
              "
              src="./images/Actors/SamantaBowen.webp"
              alt="on this photo Samanta Bowen"
              width="190"
              height="190"
              loading="lazy"
              decoding="async"
            />
          </div>
          <span class="actor-list__meta">Samantha Bowen</span></a
        >
      </li>
      <li class="actors-list__item">
        <a href="#" class="actors-list__link"
          ><div class="actors-list__pic-thumb">
            <img
              srcset="
                ./images/Actors/RhysBirch.webp    1x,
                ./images/Actors/RhysBirch@2x.webp 2x
              "
              src="./images/Actors/RhysBirch.webp"
              alt="on this photo Rhys Birch"
              width="190"
              height="190"
              loading="lazy"
              decoding="async"
            />
          </div>
          <span class="actor-list__meta">Rhys Birch</span></a
        >
      </li>
      <li class="actors-list__item">
        <a href="#" class="actors-list__link"
          ><div class="actors-list__pic-thumb">
            <img
              srcset="
                ./images/Actors/JamesHolloway.webp    1x,
                ./images/Actors/JamesHolloway@2x.webp 2x
              "
              src="./images/Actors/JamesHolloway.webp"
              alt="on this photo James Holloway"
              width="190"
              height="190"
              loading="lazy"
              decoding="async"
            />
          </div>
          <span class="actor-list__meta">James Holloway</span></a
        >
      </li>
      <li class="actors-list__item">
        <a href="#" class="actors-list__link"
          ><div class="actors-list__pic-thumb">
            <img
              srcset="
                ./images/Actors/JoshuaWalton.webp    1x,
                ./images/Actors/JoshuaWalton@2x.webp 2x
              "
              src="./images/Actors/JoshuaWalton.webp"
              alt="on this photo Joshua Walton"
              width="190"
              height="190"
              loading="lazy"
              decoding="async"
            />
          </div>
          <span class="actor-list__meta">Joshua Walton</span></a
        >
      </li>
      <li class="actors-list__item">
        <a href="#" class="actors-list__link"
          ><div class="actors-list__pic-thumb">
            <img
              srcset="
                ./images/Actors/PatrickElliot.webp    1x,
                ./images/Actors/PatrickElliot@2x.webp 2x
              "
              src="./images/Actors/PatrickElliot.webp"
              alt="on this photo Patrick Elliott"
              width="190"
              height="190"
              loading="lazy"
              decoding="async"
            />
          </div>
          <span class="actor-list__meta">Patrick Elliott</span></a
        >
      </li>
      <li class="actors-list__item">
        <a href="#" class="actors-list__link"
          ><div class="actors-list__pic-thumb">
            <img
              srcset="
                ./images/Actors/MorganO.webp    1x,
                ./images/Actors/MorganO@2x.webp 2x
              "
              src="./images/Actors/MorganO.webp"
              alt="on this photo Morgan O'Neill"
              width="190"
              height="190"
              loading="lazy"
              decoding="async"
            />
          </div>
          <span class="actor-list__meta">Morgan O'Neill</span></a
        >
      </li>
    </ul>
  </div>
</section>
