<section class="coming-soon">
  <div class="coming-soon__container">
    <ul class="coming-soon__list">
      <li class="coming-soon__list-item coming-soon__list-item--left"></li>
      <li class="coming-soon__list-item coming-soon__list-item--right">
        <img
          class="coming-soon__img"
          є
          srcset="
            ./images/Bg/ComingSoon.webp    1x,
            ./images/Bg/ComingSoon@2x.webp 2x
          "
          src="./images/Bg/ComingSoon.webp"
          alt="on this pictures 2021 year"
          width="100px"
        />
        <p class="coming-soon__meta">Coming Soon ...</p>
      </li>
    </ul>
  </div>
</section>
