<footer class="footer">
  <div class="footer__container">
    <a
      href="https://malakhow-alexandr.github.io/Justice-League/"
      class="footer__logo"
    >
      <img
        src="./images/logo.webp"
        alt="this is logo"
        width="157"
        height="70"
      />
    </a>
    <ul class="footer-link-list">
      <li class="footer-link-list__item">
        <a class="footer-link-list__link" href="#">Voice over and Subtitle</a>
        <a class="footer-link-list__link" href="#">Media Center </a>
        <a class="footer-link-list__link" href="#">Privacy</a>
        <a class="footer-link-list__link" href="#">Contact us</a>
      </li>
      <li class="footer-link-list__item">
        <a class="footer-link-list__link" href="#">Voice Description</a>
        <a class="footer-link-list__link" href="#">Investor Relations</a>
        <a class="footer-link-list__link" href="#">Legal Provisions</a>
      </li>
      <li class="footer-link-list__item">
        <a class="footer-link-list__link" href="#">Help Center</a>
        <a class="footer-link-list__link" href="#">Job Opportunities</a>
        <a class="footer-link-list__link" href="#">Cookies Preferences</a>
      </li>
      <li class="footer-link-list__item">
        <a class="footer-link-list__link" href="#">Gift Cards</a>
        <a class="footer-link-list__link" href="#">Terms of Use</a>
        <a class="footer-link-list__link" href="#">Corporate Informations</a>
      </li>
    </ul>
  </div>
</footer>
