<section class="ganres">
  <div class="ganres__container">
    <a
      href="#"
      class="ganres__link-title"
      aria-label="link to Popular Ganres page"
      >Popular Genres <span>></span></a
    >
    <ul class="ganres-list">
      <li class="ganres-list__item ganres-list__item--romance">
        <a
          href="#"
          class="ganres-list-link"
          aria-label="link to romance ganre page"
        >
          <svg class="ganres-list__icon">
            <use href="./images/icons/sprite.svg#icon-romance"></use>
          </svg>
          Romance
        </a>
      </li>
      <li class="ganres-list__item ganres-list__item--drama">
        <a
          href="#"
          class="ganres-list-link"
          aria-label="link to Drama ganre page"
        >
          <svg class="ganres-list__icon">
            <use href="./images/icons/sprite.svg#icon-drama"></use>
          </svg>
          Drama
        </a>
      </li>
      <li class="ganres-list__item ganres-list__item--historical">
        <a
          href="#"
          class="ganres-list-link"
          aria-label="link to Historical ganre page"
        >
          <svg class="ganres-list__icon">
            <use href="./images/icons/sprite.svg#icon-historical"></use>
          </svg>
          Historical
        </a>
      </li>
      <li class="ganres-list__item ganres-list__item--action">
        <a
          href="#"
          class="ganres-list-link"
          aria-label="link to Action ganre page"
        >
          <svg class="ganres-list__icon">
            <use href="./images/icons/sprite.svg#icon-action"></use>
          </svg>
          Action
        </a>
      </li>
      <li class="ganres-list__item ganres-list__item--sci-fi">
        <a
          href="#"
          class="ganres-list-link"
          aria-label="link to Sci-fi ganre page"
        >
          <svg class="ganres-list__icon ganres-list__icon--sci-fi">
            <use href="./images/icons/sprite.svg#icon-sci-fi"></use>
          </svg>
          Sci-fi
        </a>
      </li>
      <li class="ganres-list__item ganres-list__item--horror">
        <a
          href="#"
          class="ganres-list-link"
          aria-label="link to Horror ganre page"
        >
          <svg class="ganres-list__icon">
            <use href="./images/icons/sprite.svg#icon-horror"></use>
          </svg>
          Horror
        </a>
      </li>
      <li class="ganres-list__item ganres-list__item--comedy">
        <a
          href="#"
          class="ganres-list-link"
          aria-label="link to Comedy ganre page"
        >
          <svg class="ganres-list__icon">
            <use href="./images/icons/sprite.svg#icon-comedy"></use>
          </svg>
          Comedy
        </a>
      </li>
      <li class="ganres-list__item ganres-list__item--documentary">
        <a
          href="#"
          class="ganres-list-link"
          aria-label="link to Documentary ganre page"
        >
          <svg class="ganres-list__icon">
            <use href="./images/icons/sprite.svg#icon-documentary"></use>
          </svg>
          Documentary
        </a>
      </li>
    </ul>
  </div>
</section>
