<header class="header">
  <div class="header__container">
    <a href="#" class="header__logo">
      <img
        src="./images/logo.webp"
        alt="this is logo"
        width="157"
        height="70"
      />
    </a>
    <nav class="header-nav">
      <a href="#" class="header-nav__link header-nav__link--active">Home</a>
      <a href="#" class="header-nav__link">TV Shows</a>
      <a href="#" class="header-nav__link">Movies</a>
      <a href="#" class="header-nav__link">Series</a>
    </nav>
    <ul class="header-icon-list">
      <li class="header-icon-list__item">
        <a
          href="#"
          class="header-icon-list__link"
          aria-label="link to search page"
          ><svg
            class="header-icon-list__icon header-icon-list__icon--search"
            width="25"
            height="25"
          >
            <use href="./images/icons/sprite.svg#search-icon"></use>
          </svg>
        </a>
      </li>
      <li class="header-icon-list__item">
        <a
          href="#"
          class="header-icon-list__link header-icon-list__link--bell"
          aria-label="link to favorite page"
          ><svg
            class="header-icon-list__icon header-icon-list__icon--bell"
            width="25"
            height="25"
          >
            <use href="./images/icons/sprite.svg#bell-icon"></use>
          </svg>
        </a>
      </li>
      <li class="header-icon-list__item">
        <a
          href="#"
          class="header-icon-list__link"
          aria-label="link to register page"
          ><svg class="header-icon-list__icon" width="25" height="25">
            <use href="./images/icons/sprite.svg#add-acount-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      aria-label="mobile-menu-open"
    >
      <svg class="" width="40" height="40" fill="#fff">
        <use href="./images/icons/sprite.svg#open-burger"></use>
      </svg>
    </button>
  </div>
</header>
