<section class="hero">
  <div class="hero__container">
    <div class="hero-left-side">
      <h1 class="hero__title">
        Zack Snyder's <br />
        Justice League
      </h1>
      <ul class="hero-meta-list">
        <li class="hero-meta-list__item">
          <p class="hero-meta-list__meta">2021</p>
        </li>
        <li class="hero-meta-list__item hero-meta-list__item--border">
          <p class="hero-meta-list__meta hero-meta-list__meta--border">18+</p>
        </li>
        <li class="hero-meta-list__item">
          <p class="hero-meta-list__meta">4h 2min</p>
        </li>
        <li class="hero-meta-list__item hero-meta-list__item--icon">
          <p class="hero-meta-list__meta">8.8</p>
          <svg class="hero-meta-list__icon" width="16" height="16">
            <use href="./images/icons/sprite.svg#star"></use>
          </svg>
        </li>
      </ul>
      <p class="hero-film-description">
        Determined to ensure Superman's ultimate sacrifice was not in vain,
        Bruce Wayne aligns forces with Diana Prince with plans to recruit a team
        of metahumans to protect the world from an approaching threat of
        catastrophic proportions.
      </p>
      <div class="hero-link-container">
        <a href="#" class="watch-more-link">
          <svg class="watch-more-link__icon" width="14" height="18">
            <use href="./images/icons/sprite.svg#play-icon"></use>
          </svg>
          Watch
        </a>
        <a href="#" class="more-information-link">More information</a>
      </div>
    </div>
    <div class="hero-right-side"></div>
  </div>
</section>
