<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="" width="40" height="40" fill="#fff">
      <use href="./images/icons/sprite.svg#close-burger"></use>
    </svg>
  </button>

  <ul class="mobile-nav">
    <li class="mobile-nav__item">
      <a href="#" class="header-nav__link header-nav__link--active">Home</a>
    </li>
    <li class="mobile-nav__item">
      <a href="#" class="header-nav__link">TV Shows</a>
    </li>
    <li class="mobile-nav__item">
      <a href="#" class="header-nav__link">Movies</a>
    </li>
    <li class="mobile-nav__item">
      <a href="#" class="header-nav__link">Series</a>
    </li>
  </ul>

  <ul class="mobile-nav-icon-list">
    <li class="header-icon-list__item">
      <a href="#" class="header-icon-list__link"
        ><svg class="header-icon-list__icon" width="25" height="25">
          <use href="./images/icons/sprite.svg#search-icon"></use>
        </svg>
      </a>
    </li>
    <li class="header-icon-list__item">
      <a href="#" class="header-icon-list__link header-icon-list__link--bell"
        ><svg
          class="header-icon-list__icon header-icon-list__icon--bell"
          width="25"
          height="25"
        >
          <use href="./images/icons/sprite.svg#bell-icon"></use>
        </svg>
      </a>
    </li>
    <li class="header-icon-list__item">
      <a href="#" class="header-icon-list__link"
        ><svg class="header-icon-list__icon" width="25" height="25">
          <use href="./images/icons/sprite.svg#add-acount-icon"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
