<section class="trending">
  <div class="trending__container">
    <a class="trending__link-title" href="#"
      >Trending TV Shows <span>></span></a
    >
    <ul class="trending-list">
      <li class="trending-list__item">
        <a
          href="#"
          class="trending-list__item-link"
          aria-label="link to film page"
          ><img
            class="trending-list__img"
            src="./images/TrendingShows/After.webp"
            srcset="
              ./images/TrendingShows/After.webp    1x,
              ./images/TrendingShows/After@2x.webp 2x
            "
            alt="Film After poster"
            width="206"
            height="309"
        /></a>
      </li>
      <li class="trending-list__item">
        <a
          href="#"
          class="trending-list__item-link"
          aria-label="link to film page"
          ><img
            class="trending-list__img"
            src="./images/TrendingShows/eMancipation.webp"
            srcset="
              ./images/TrendingShows/eMancipation.webp    1x,
              ./images/TrendingShows/eMancipation@2x.webp 2x
            "
            alt="Film eMancipation poster"
            width="206"
            height="309"
        /></a>
      </li>
      <li class="trending-list__item">
        <a
          href="#"
          class="trending-list__item-link"
          aria-label="link to film page"
          ><img
            class="trending-list__img"
            src="./images/TrendingShows/Dunkirk.webp"
            srcset="
              ./images/TrendingShows/Dunkirk.webp    1x,
              ./images/TrendingShows/Dunkirk@2x.webp 2x
            "
            alt="Film Dunkirk poster"
            width="206"
            height="309"
        /></a>
      </li>
      <li class="trending-list__item">
        <a
          href="#"
          class="trending-list__item-link"
          aria-label="link to film page"
          ><img
            class="trending-list__img"
            src="./images/TrendingShows/EnormityOfLife.webp"
            srcset="
              ./images/TrendingShows/EnormityOfLife.webp    1x,
              ./images/TrendingShows/EnormityOfLife@2x.webp 2x
            "
            alt="Film the Enormity Of Life poster"
            width="206"
            height="309"
        /></a>
      </li>
      <li class="trending-list__item">
        <a
          href="#"
          class="trending-list__item-link"
          aria-label="link to film page"
          ><img
            class="trending-list__img"
            src="./images/TrendingShows/Vanitas.webp"
            srcset="
              ./images/TrendingShows/Vanitas.webp    1x,
              ./images/TrendingShows/Vanitas@2x.webp 2x
            "
            alt="Film Vanitas poster"
            width="206"
            height="309"
        /></a>
      </li>
      <li class="trending-list__item">
        <a
          href="#"
          class="trending-list__item-link"
          aria-label="link to film page"
          ><img
            class="trending-list__img"
            src="./images/TrendingShows/likePerfect.webp"
            srcset="
              ./images/TrendingShows/likePerfect.webp    1x,
              ./images/TrendingShows/likePerfect@2x.webp 2x
            "
            alt="Film Vanitas poster"
            width="206"
            height="309"
        /></a>
      </li>
    </ul>

    <a
      class="trending__link-title trending__link-title--movies"
      href="#"
      aria-label="link to film page"
      >Trending Movies <span>></span></a
    >

    <ul class="trending-list">
      <li class="trending-list__item">
        <a
          href="#"
          class="trending-list__item-link"
          aria-label="link to film page"
          ><img
            class="trending-list__img"
            src="./images/TrendingMovies/Maturing.webp"
            srcset="
              ./images/TrendingMovies/Maturing.webp    1x,
              ./images/TrendingMovies/Maturing@2x.webp 2x
            "
            alt="Film Maturing poster"
            width="206"
            height="309"
        /></a>
      </li>
      <li class="trending-list__item">
        <a
          href="#"
          class="trending-list__item-link"
          aria-label="link to film page"
          ><img
            class="trending-list__img"
            src="./images/TrendingMovies/LeapYear.webp"
            srcset="
              ./images/TrendingMovies/LeapYear.webp    1x,
              ./images/TrendingMovies/LeapYear@2x.webp 2x
            "
            alt="Film Leap Year poster"
            width="206"
            height="309"
        /></a>
      </li>
      <li class="trending-list__item">
        <a
          href="#"
          class="trending-list__item-link"
          aria-label="link to film page"
          ><img
            class="trending-list__img"
            src="./images/TrendingMovies/Island.webp"
            srcset="
              ./images/TrendingMovies/Island.webp    1x,
              ./images/TrendingMovies/Island@2x.webp 2x
            "
            alt="Film OAK Island poster"
            width="206"
            height="309"
        /></a>
      </li>
      <li class="trending-list__item">
        <a
          href="#"
          class="trending-list__item-link"
          aria-label="link to film page"
          ><img
            class="trending-list__img"
            src="./images/TrendingMovies/Street.webp"
            srcset="
              ./images/TrendingMovies/Street.webp    1x,
              ./images/TrendingMovies/Street@2x.webp 2x
            "
            alt="Film Street Legal poster"
            width="206"
            height="309"
        /></a>
      </li>
      <li class="trending-list__item">
        <a
          href="#"
          class="trending-list__item-link"
          aria-label="link to film page"
          ><img
            class="trending-list__img"
            src="./images/TrendingMovies/InterLock.webp"
            srcset="
              ./images/TrendingMovies/InterLock.webp    1x,
              ./images/TrendingMovies/InterLock@2x.webp 2x
            "
            alt="Film InterLock poster"
            width="206"
            height="309"
        /></a>
      </li>
      <li class="trending-list__item">
        <a
          href="#"
          class="trending-list__item-link"
          aria-label="link to film page"
          ><img
            class="trending-list__img"
            src="./images/TrendingMovies/TheBlackEcho.webp"
            srcset="
              ./images/TrendingMovies/TheBlackEcho.webp    1x,
              ./images/TrendingMovies/TheBlackEcho@2x.webp 2x
            "
            alt="Film The Black Echo poster"
            width="206"
            height="309"
        /></a>
      </li>
    </ul>
    <a href="#" class="see-more" aria-label="link to See more page">See more</a>
  </div>
</section>
