.coming-soon {
  padding-top: 100px;
}

.coming-soon__container {
  @extend %container;
}
.coming-soon__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.coming-soon__list-item {
  width: 50%;
  height: 341px;
  @media screen and (min-width: 200px) and (max-width: 359px) {
    height: 71px;
  }
  @media screen and (min-width: 360px) and (max-width: 767px) {
    height: 78px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 170px;
  }
  @media screen and (min-width: 1200px) and (max-width: 1599px) {
    height: 265px;
  }
  @media screen and (min-width: 1600px) {
    height: 341px;
  }
}
.coming-soon__list-item--left {
  background-image: url('../images/Bg/BigBunny.webp');
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: $coming-soon-shadow;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .coming-soon__list-item--left {
      background-image: url('../images/Bg/BigBunny@2x.webp');
    }
  }
}
.coming-soon__list-item--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $coming-soon-gradient;
  box-shadow: $coming-soon-shadow;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.coming-soon__img {
  @media screen and (min-width: 320px) and (max-width: 359px) {
    width: 70px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    width: 90px;
    margin-bottom: 5px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 150px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) and (max-width: 1599px) {
    width: 250px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1600px) {
    width: 294px;
    margin-bottom: 30px;
  }
}
.coming-soon__meta {
  font-weight: 700;
  line-height: 20px;

  @media screen and (min-width: 320px) and (max-width: 340px) {
    font-size: 15px;
  }
  @media screen and (min-width: 360px) and (max-width: 767px) {
    font-size: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 40px;
  }
  @media screen and (min-width: 1200px) and (max-width: 1599px) {
    font-size: 50px;
  }
  @media screen and (min-width: 1600px) {
    font-size: 64px;
  }
}
