.header__container {
  @extend %container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 157px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: transform 250ms $timing-function;
  &:hover {
    transform: scale(1.05);
  }
}
.header-nav {
  display: flex;
  gap: 50px;
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    gap: 25px;
  }
}
.header-nav__link {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  opacity: 0.5;
  transition: opacity 250ms $timing-function, color 250ms $timing-function;
  &:hover {
    opacity: 1;
    color: $icon-link;
  }
}
.header-nav__link--active {
  opacity: 1;
  position: relative;

  &:after {
    content: ' ';
    position: absolute;
    bottom: 34px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background: $button-border-after-gradient;
    transition: all 250ms $timing-function;
  }
}
.header-icon-list {
  display: flex;
  gap: 35px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header-icon-list__link {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon-list__icon {
  fill: #fff;
  transition: transform 250ms $timing-function, fill 250ms $timing-function,
    stroke 250ms $timing-function;
  .header-icon-list__link:hover & {
    transform: scale(1.06);
    fill: $icon-link;
  }
}

.header-icon-list__icon--search {
  fill: #000;
  stroke: #fff;
  .header-icon-list__link:hover & {
    fill: #000;
    stroke: $icon-link;
  }
}

.header-icon-list__link--bell {
  position: relative;

  &:before {
    position: absolute;
    top: 39px;
    left: 11px;
    content: ' ';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $button-border-after-gradient;
    z-index: 500;
  }
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  text-decoration: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  transition: transform 250ms $timing-function;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: rotate(15deg);
  }
  &:focus {
    outline: none;
  }
}
.js-open-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
